<!--   <button id="update">Last Night's Games</button> -->
<img src='public/clippers.png'></img>

<iframe width="560" height="315" src="//www.youtube.com/embed/JH-zsZlU2HU" frameborder="0" allowfullscreen></iframe>

<p class="text-box-subhead">Twitter Timeline</p>

<iframe src='http://cdn.knightlab.com/libs/timeline/latest/embed/index.html?source=0Ag_exaJztVrCdFJkelZrYkRxX0laQmxzX2xZUDRRU1E&font=Bevan-PotanoSans&maptype=toner&lang=en&height=650' width='100%' height='650' frameborder='0'></iframe>

<div id="latestUpdates"></div>

<div class="text-box pure-u-1 pure-u-med-2-3 pure-u-lrg-3-4">
  <div class="l-box">
    <div class="was-v-ind">
      <p class="text-box-subhead">Washington Wizards vs. Indiana Pacers @ Bankers Life Fieldhouse</p>
      <img src='public/pacers.png'></img>
      <iframe width="560" height="315" src="//www.youtube.com/embed/JH-zsZlU2HU" frameborder="0" allowfullscreen></iframe>
    </div>
    <p class="text-box-subhead">Twitter Timeline</p>

    <iframe src='http://cdn.knightlab.com/libs/timeline/latest/embed/index.html?source=0Ag_exaJztVrCdE5vcXBlbnZqUTNERUU4TkFrb2hFQ3c&font=Bevan-PotanoSans&maptype=toner&lang=en&height=650' width='100%' height='650' frameborder='0'></iframe>
  </div>
